# Environment files & Secrets
.env
.env.*
!.env.example
!.env.development.example
!.env.production.example

# Node / NestJS / Next.js
node_modules/
dist/
.next/
out/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
coverage/
*.lcov

# Android / Gradle
*.iml
.gradle/
/local.properties
local.properties
/.idea/
.idea/
.DS_Store
/build
build/
app/build/
/captures
.externalNativeBuild
.cxx
gradle-*.zip
.kotlin/
*.apk
*.aab
*.keystore
debug.keystore
!debug.keystore.base64

# Prisma & Database
prisma/migrations/dev.db
*.sqlite
*.sqlite3

# OS / Editor
Thumbs.db
.vscode/
*.swp
*.bak
